/build-release/
*.mk
*.dll
*.exe
.codelite/
*.xrc
*.txt
!CMakeLists.txt
*.gch
.clangd/
*.a
*.bak
*.orig
*.log
tags
*.diff
Makefile
build-Debug/
build-Win*/
Debug/
Release/
build-Debug*/
*build-debug*/
build-*release*/
build-*debug*/
.cache/
ctags/
.ctagsd/
compile_commands.json
compile_flags.txt
wxcrafter/src/wxcversion.cpp
LiteEditor/autoversion.h
.DS_Store
