dbg_build/
GPATH
GRTAGS
GTAGS
codelite_vim/VimAcceleratorManager.h
installation/
prepare_cmake.sh

dbg_build_arch/
installation_arch/
backup
build-debug/
my_build.sh

setup_flycheck.el

.vscode

.build-win_x64_debug/
.codelite/
AutoSave/AutoSave.mk
AutoSave/AutoSave.txt
AutoSave/Win_x64_Debug/
CMakePlugin/CMakePlugin.mk
CMakePlugin/CMakePlugin.txt
CMakePlugin/Win_x64_Debug/
CallGraph/CallGraph.mk
CallGraph/CallGraph.txt
CallGraph/Win_x64_Debug/
CodeFormatter/CodeFormatter.mk
CodeFormatter/CodeFormatter.txt
CodeFormatter/Win_x64_Debug/
CodeLite/Win_x64_Debug/
CodeLite/libCodeLite.mk
CodeLite/libCodeLite.txt
CodeLiteDiff/CodeLiteDiff.mk
CodeLiteDiff/CodeLiteDiff.txt
CodeLiteDiff/Win_x64_Debug/
ContinuousBuild/ContinuousBuild.mk
ContinuousBuild/ContinuousBuild.txt
ContinuousBuild/Win_x64_Debug/
Copyright/Copyright.mk
Copyright/Copyright.txt
Copyright/Win_x64_Debug/
DatabaseExplorer/DatabaseExplorer.mk
DatabaseExplorer/DatabaseExplorer.txt
DatabaseExplorer/Win_x64_Debug/
Debugger/DebuggerGDB.mk
Debugger/DebuggerGDB.txt
Debugger/Win_x64_Debug/
EditorConfigPlugin/EditorConfigPlugin.mk
EditorConfigPlugin/EditorConfigPlugin.txt
EditorConfigPlugin/Win_x64_Debug/
ExternalTools/ExternalTools.mk
ExternalTools/ExternalTools.txt
ExternalTools/Win_x64_Debug/
Gizmos/Gizmos.mk
Gizmos/Gizmos.txt
Gizmos/Win_x64_Debug/
LLDBDebugger/LLDBDebugger.mk
LLDBDebugger/LLDBDebugger.txt
LLDBDebugger/LLDBProtocol/Debug/
LLDBDebugger/LLDBProtocol/LLDBProtocol.mk
LLDBDebugger/LLDBProtocol/LLDBProtocol.txt
LLDBDebugger/Win_x64_Debug/
LiteEditor/CodeLiteIDE.mk
LiteEditor/CodeLiteIDE.txt
LiteEditor/Win_x64_Debug/
Makefile
Outline/Outline.mk
Outline/Outline.txt
Outline/Win_x64_Debug/
Plugin/Win_x64_Debug/
Plugin/plugin_sdk.mk
Plugin/plugin_sdk.txt
QmakePlugin/QMakePlugin.mk
QmakePlugin/QMakePlugin.txt
QmakePlugin/Win_x64_Debug/
Runtime/codelite-dbg.exe
Runtime/codelite-echo.exe
Runtime/codelite_cppcheck.exe
Runtime/debuggers/DebuggerGDB-dbg.dll
Runtime/libcodeliteud.dll
Runtime/libdatabaselayersqliteud.dll
Runtime/libplugin_sdkud.dll
Runtime/libwxshapeframeworkud.dll
Runtime/libwxsqlite3ud.dll
Runtime/plugins/AutoSave-dbg.dll
Runtime/plugins/CMakePlugin-dbg.dll
Runtime/plugins/CallGraph-dbg.dll
Runtime/plugins/CodeFormatter-dbg.dll
Runtime/plugins/CodeLiteDiff-dbg.dll
Runtime/plugins/ContinuousBuild-dbg.dll
Runtime/plugins/Copyright-dbg.dll
Runtime/plugins/CppChecker-dbg.dll
Runtime/plugins/Cscope-dbg.dll
Runtime/plugins/DatabaseExplorer-dbg.dll
Runtime/plugins/EditorConfigPlugin-dbg.dll
Runtime/plugins/ExternalTools-dbg.dll
Runtime/plugins/Gizmos-dbg.dll
Runtime/plugins/LLDBDebugger-dbg.dll
Runtime/plugins/Outline-dbg.dll
Runtime/plugins/PHP-dbg.dll
Runtime/plugins/QMakePlugin-dbg.dll
Runtime/plugins/SFTP-dbg.dll
Runtime/plugins/SpellCheck-dbg.dll
Runtime/plugins/Subversion2-dbg.dll
Runtime/plugins/Tail-dbg.dll
Runtime/plugins/Tweaks-dbg.dll
Runtime/plugins/UnitTestPP-dbg.dll
Runtime/plugins/WebTools-dbg.dll
Runtime/plugins/WordCompletion-dbg.dll
Runtime/plugins/ZoomNavigator-dbg.dll
Runtime/plugins/abbreviation-dbg.dll
Runtime/plugins/codelite_vim-dbg.dll
Runtime/plugins/git-dbg.dll
Runtime/plugins/snipwiz-dbg.dll
Runtime/plugins/wxFormBuilder-dbg.dll
SFTP/SFTP.mk
SFTP/SFTP.txt
SFTP/Win_x64_Debug/
SnipWiz/Win_x64_Debug/
SnipWiz/snipwiz.mk
SnipWiz/snipwiz.txt
SpellChecker/SpellCheck.mk
SpellChecker/SpellCheck.txt
SpellChecker/Win_x64_Debug/
SpellChecker/hunspell/Win_x64_Debug/
SpellChecker/hunspell/hunspell.mk
SpellChecker/hunspell/hunspell.txt
Subversion2/Subversion2.mk
Subversion2/Subversion2.txt
Subversion2/Win_x64_Debug/
Tail/Tail.mk
Tail/Tail.txt
Tail/Win_x64_Debug/
TestDir/DebugUnicode/
TestDir/makedir.mk
TestDir/makedir.txt
Tweaks/Tweaks.mk
Tweaks/Tweaks.txt
Tweaks/Win_x64_Debug/
UnitTestCPP/UnitTestPP.mk
UnitTestCPP/UnitTestPP.txt
UnitTestCPP/Win_x64_Debug/
WebTools/WebTools.mk
WebTools/WebTools.txt
WebTools/Win_x64_Debug/
WordCompletion/Win_x64_Debug/
WordCompletion/WordCompletion.mk
WordCompletion/WordCompletion.txt
ZoomNavigator/Win_x64_Debug/
ZoomNavigator/ZoomNavigator.mk
ZoomNavigator/ZoomNavigator.txt
abbreviation/Win_x64_Debug/
abbreviation/abbreviation.mk
abbreviation/abbreviation.txt
codelite_echo/Win_x64_Release/
codelite_echo/codelite_echo.mk
codelite_echo/codelite_echo.txt
codelite_launcher/Debug/
codelite_launcher/codelite_launcher.mk
codelite_launcher/codelite_launcher.txt
codelite_make/Debug/
codelite_make/codelite_make.mk
codelite_make/codelite_make.txt
codelite_terminal/codelite_terminal.mk
codelite_utils/.build-debug/
codelite_utils/.codelite/
codelite_utils/Debug/
codelite_utils/Makefile
codelite_utils/build_all.mk
codelite_utils/build_all.txt
codelite_vim/Win_x64_Debug/
codelite_vim/codelite_vim.mk
codelite_vim/codelite_vim.txt
codelitegcc/Debug/
codelitegcc/codelitegcc.mk
codelitegcc/codelitegcc.txt
codelitephp/PHPParser/PHPParser.mk
codelitephp/PHPParser/PHPParser.txt
codelitephp/PHPParser/Win_x64_Debug/
codelitephp/php-plugin/PHPPlugin.mk
codelitephp/php-plugin/PHPPlugin.txt
codelitephp/php-plugin/Win_x64_Debug/
cppchecker/CppChecker.mk
cppchecker/CppChecker.txt
cppchecker/Win_x64_Debug/
cscope/Cscope.mk
cscope/Cscope.txt
cscope/Win_x64_Debug/
environment.bat
git/Win_x64_Debug/
git/git.mk
git/git.txt
le_exec/Debug/
le_exec/le_exec.mk
le_exec/le_exec.txt
lib/gcc_lib/libLLDBProtocolD.a
lib/gcc_lib/libPHPParser-dbg.a
lib/gcc_lib/libcodeliteud.dll
lib/gcc_lib/libdatabaselayersqliteud.dll
lib/gcc_lib/libhunspell.a
lib/gcc_lib/libplugin_sdkud.dll
lib/gcc_lib/libsqlite3.a
lib/gcc_lib/libwxshapeframeworkud.dll
lib/gcc_lib/libwxsqlite3ud.dll
sdk/codelite_cppcheck/Win_x64_Release/
sdk/codelite_cppcheck/codelite_cppcheck.mk
sdk/codelite_cppcheck/codelite_cppcheck.txt
sdk/codelite_indexer/Debug/
sdk/codelite_indexer/Win_x64_Release/
sdk/codelite_indexer/codelite_indexer.mk
sdk/codelite_indexer/codelite_indexer.txt
sdk/databaselayer/Win_x64_Debug/
sdk/databaselayer/databaselayer_sqlite.mk
sdk/databaselayer/databaselayer_sqlite.txt
sdk/wxconfig/Debug/
sdk/wxconfig/wx-config.mk
sdk/wxconfig/wx-config.txt
sdk/wxshapeframework/WinDebugUnicode/
sdk/wxshapeframework/wxshapeframework.mk
sdk/wxshapeframework/wxshapeframework.txt
sdk/wxsqlite3/Win_x64_Debug/
sdk/wxsqlite3/wxsqlite3.mk
sdk/wxsqlite3/wxsqlite3.txt
sqlite3/Win_x64_Release/
sqlite3/sqlite3.mk
sqlite3/sqlite3.txt
wxformbuilder/Win_x64_Debug/
wxformbuilder/wxFormBuilder.mk
wxformbuilder/wxFormBuilder.txt

HelpPlugin/HelpPlugin.mk
HelpPlugin/HelpPlugin.txt
HelpPlugin/Win_x64_Debug/
PCH/PCH.mk
PCH/precompiled_header_release.h.gch
PHPLint/PHPLint.mk
PHPLint/PHPLint.txt
PHPLint/Win_x64_Debug/
PHPRefactoring/PHPRefactoring.mk
PHPRefactoring/PHPRefactoring.txt
PHPRefactoring/Win_x64_Debug/
Runtime/cygwin1.dll
Runtime/libclang.dll
Runtime/libcodeliteu.dll
Runtime/libdatabaselayersqliteu.dll
Runtime/libplugin_sdku.dll
Runtime/libssh.dll
Runtime/libssh64.dll
Runtime/libwxshapeframeworku.dll
Runtime/libwxsqlite3u.dll
Runtime/plugins/HelpPlugin-dbg.dll
Runtime/plugins/PHPLint-dbg.dll
Runtime/plugins/PHPRefactoring-dbg.dll
Runtime/wxmsw30ud_gcc_cl.dll
Runtime/wxmsw30ud_gl_gcc_cl.dll
Runtime/wxmsw310u_gcc_cl.dll
Runtime/zlib64.dll
sdk/wxsqlite3/Win_x64_Release/
