namespace foospace
{
int Foo(int b)
{
    if (b == 0) {
        return 0;
    }
    else if (b == 1) {
        return 2;
    }
    else {
        return b * b;
    }
}

class Foo
{
public:
	Foo() {
		switch (foo) {
		case 1:
			break;
		case 2: {
			break;
		}
		}
	};
	virtual ~Foo();
};
}
