<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleExecutable</key>
    <string>CodeLite</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>17.0.0</string>
    <key>CFBundleName</key>
    <string>CodeLite</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>com.eranif.CodeLite</string>
    <key>CFBundleVersion</key>
    <string>CodeLite IDE version 17.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>CodeLite IDE version 17.0.0</string>
    <key>CSResourcesFileMapped</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>workspace</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>cl_workspace.icns</string>
        <key>CFBundleTypeName</key>
        <string>CodeLite workspace</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSIsAppleDefaultForType</key>
        <true/>
        <key>LSTypeIsPackage</key>
        <false/>
      </dict>
    </array>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
