version: 2
jobs:
  linux:
    docker:
      - image: debian:buster
    working_directory: ~/repo
    steps:
      - checkout
      - run: apt-get update -y
      - run: apt-get install -y libgtk2.0-dev pkg-config build-essential git cmake libssh-dev libwxbase3.0-dev libsqlite3-dev libwxsqlite3-3.0-dev
      - run: mkdir build-release
      - run: cd build-release && cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release .. -DMAKE_DEB=1
      - run: cd build-release && make -j4

workflows:
  version: 2
  testflow:
    jobs:
      - linux
