#include "wx/version.h"
aaaaa ICON "res/codelite-logo.ico"

// set this to 1 if you don't want to use manifest resource (manifest resource
// is needed to enable visual styles on Windows XP - see docs/msw/winxp.txt
// for more information)
#define wxUSE_NO_MANIFEST 0

// To get DPI change events, we need to opt in into per monitor DPI support.
#define wxUSE_DPI_AWARE_MANIFEST 2

// this is not always needed but doesn't hurt (except making the executable
// very slightly larger): this file contains the standard icons, cursors, ...
#include "wx/msw/wx.rc"

///////////////////////////////////////////////////////////////////////////////
// Version information
VS_VERSION_INFO    VERSIONINFO
FILEVERSION      17,0,0,0
PRODUCTVERSION   17,0,0,0
FILEFLAGSMASK    0x3fL // VS_FFI_FILEFLAGSMASK
FILEFLAGS        0x0L  // final version
FILEOS           VOS_NT_WINDOWS32
FILETYPE         VFT_APP
FILESUBTYPE      VFT2_UNKNOWN { // not used
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4" // Lang=US English, CharSet=Windows Multilingual
        {
            VALUE "Comments",         "Licensed under GPL2."
            VALUE "CompanyName",      "Eran Ifrah"
            VALUE "Developer",        "Eran Ifrah"
            VALUE "FileDescription",  "CodeLite, an Open Source cross platform C,C++,Rust,Python,PHP and Node.js IDE"
            VALUE "FileVersion",      "17.0.0"
            VALUE "InternalName",     "CodeLite"
            VALUE "LegalCopyright",   "Copyright (C) 2007-2023 Eran Ifrah"
            VALUE "LegalTrademarks",  "All rights reserved."
            VALUE "OriginalFilename", "codelite.exe"
            VALUE "PrivateBuild",     ""
            VALUE "ProductName",      "CodeLite"
            VALUE "ProductVersion",   "17.0.0 (64BIT)"
            VALUE "SpecialBuild",     ""
            VALUE "Support",          "https://forums.codelite.org"
            VALUE "Users",            "Unlimited."
        } // BLOCK "040904E4"
    } // BLOCK "StringFileInfo"
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
    } // BLOCK "VarFileInfo"
}
